
@import "tailwindcss";

@font-face {
  font-family: 'earth';
  src: url('assets/fonts/earth.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-earth: earth, sans-serif;
}

@layer components {
  body, #root {
    height: 100svh;
    width: 100%;  
    overflow: hidden;
    background-color: #023;
    user-select: none;
  }
  
  * {
    @apply p-0;
    @apply select-none;
    @apply font-earth;
    overflow: none;
    
    margin: 0;
    border: 0;
    box-sizing: border-box;
    image-rendering: pixelated; /* Makes images pixelated */
    image-rendering: crisp-edges; /* Alternative for some browsers */
    line-height: .8;

    color: #050e1a;
  }

  @keyframes float-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      opacity: 1;
      transform: translateY(-60px);
    }
    100% {
      transform: translateY(-60px);
      opacity: 0;
    }
  }

  .float-up {
    animation: float-up .5s ease forwards;
  }
  
}
